.navbar {
  height: 100vh;
  width: 300px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-dark-6);
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid var(--mantine-color-dark-4);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-dark-4);
}

.version {
  background-color: var(--mantine-color-dark-4);
  color: var(--mantine-color-white);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @mixin hover {
    background-color: var(--mantine-color-dark-4);
    color: var(--mantine-color-white);

    .linkIcon {
      color: var(--mantine-color-white);
    }
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-dark-4);

      .linkIcon {
        color: var(--mantine-color-blue-filled);
      }
    }
  }
}

.linkIcon {
  color: var(--mantine-color-blue-1);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}

.listContainer {
  border: solid 1px var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-dark-8);
  overflow: hidden;
  display: flex;
}

.root {
  background-color: #11284b;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(250deg, rgba(130, 201, 30, 0) 0%, #000 70%),
    url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8&auto=format&fit=crop&w=1080&q=80);
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  height: 100vh;
}

.inner {
  display: flex;
  justify-content: space-between;

  /* @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  } */
}

.image {
  /* @media (max-width: $mantine-breakpoint-md) {
    display: none;
  } */
}

.content {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  /* @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  } */
}

.title {
  color: var(--mantine-color-white);
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  line-height: 1.05;
  max-width: 500px;
  font-size: 48px;

  /* @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: 34px;
    line-height: 1.15;
  } */
}

.description {
  color: var(--mantine-color-white);
  opacity: 0.75;
  max-width: 500px;

  /* @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
  } */
}

.control {
  padding-left: 50px;
  padding-right: 50px;
  font-family: Outfit, var(--mantine-font-family);
  font-size: 22px;

  /* @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  } */
}
